body, h4 {
   margin: 0;
   padding: 0;
}

body{
   background-image:url(images/bg.jpg) ;
 
}

@font-face {
   font-family: myfont;
   src:url('fonts/简体叠体.ttf');

}

.wrapper{
	width: 1024px;
	padding: 30px;
	line-height: 1.75em;
	margin: 0 auto;
	font-family: myfont;
	color: #333;
	box-sizing: border-box;
	-webkit-column-count:2;
	-webkit-column-width:400px;
	-webkit-column-gap:100px;
    -webkit-column-rule:3px solid #CCC;
    text-indent: 2em;
}

h4{
	 font-size: 24px;
	 -webkit-column-span:all ;

}

p{
    font-weight: bold;


}